#contenedor {
    background-color: gray;
    margin: 0 auto;
    width: 900px;
}
#header {
    background-color: green;
    text-align: center;
}
#footer {
    background-color: blue;
    text-align: center;
}
.cuadro {
    width: 49%;
}
#derecho {
    background-color: yellow;
    float: right;
}
#izquierdo {
    background-color: orange;
    float: left;
}
@media screen and(max-width:900px) {
    #contenedor {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .cuadro {
        width: 100%;
    }
    #derecho {
        float: left;
    }
}